#include <zephyr/dt-bindings/i2c/i2c.h>

/ {
	test_i2c: i2c@400 {
		compatible = "zephyr,i2c-emul-controller";
		status = "okay";
		reg = <0x400 4>;
		clock-frequency = <I2C_BITRATE_STANDARD>;
		#address-cells = <1>;
		#size-cells = <0>;

		bme280_i2c: bme280@77 {
			compatible = "i2c-device";
			status = "okay";
			reg = <0x77>;
		};
	};
};
